@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200&display=swap");

:root {
  --dark-primary: #1c1e26;
  --primary: #009ff5;
  --primary-hover: #078cd3;
  --white: #fff;
  --black: #000;
  --nunito: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth ;
}

body {
  font-family: var(--nunito);
}

header {
  background-color: var(--dark-primary);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
}
header ul li a:hover {
  color: var(--primary);
}

.logo {
  font-weight: 500;
  letter-spacing: 2px;
}
.logo span {
  font-weight: 500;
  color: var(--primary);
}

header a {
  text-decoration: none;
  color: white;
}

/* Media Query */


/* --------------- Section Hero Page -------------------- */

section.hero {
  background-color: var(--dark-primary);
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 240px;
}

.hero_title {
  font-size: 50px;
}
.hero_title > span {
  color: var(--primary);
}
.container {
  max-width: 650px;
  margin: 0 auto;
}
.hero_desc {
  color: azure;
  text-align: justify;
}

.social_icons {
  margin: 20px 0px;
}
.social_icons li {
  margin-right: 15px;
}
ul.social_icons {
  list-style: none;
  display: flex;
}
.social_icons li > a {
  text-decoration: none;
  color: white;
}

.social_icons li a > i.fa-linkedin:hover {
  color: #0072b1;
}
.social_icons li a > i.fa-github:hover {
  color: #000;
}
.social_icons li a > i.fa-instagram:hover {
  color: #da452b;
}
.social_icons li a > i.fa-facebook:hover {
  color: #0866ff;
}
.hero-buttons button {
  margin-right: 10px;
}

/* Button Style */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn.btn-primary {
  background-color: var(--primary);
  font-weight: 600;
  color: var(--dark-primary);
}
.btn.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-dark-outlined {
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
  font-weight: 600;
}
.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
}

header button {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.hero-image img {
  width: 520px;
  height: 535px;
  margin-left: 110px;
  display: block;
}

/* ----------------- ABOUT ME SECTION ------------------ */

.about-section {
  background-color: #22282f;
  color: var(--white);
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.about-section img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid var(--primary);
  box-shadow: 0.5px 0.5px 30px #8acbee;
}

.aboutme-desc > h4 > span {
  color: var(--primary);
}

.aboutme-desc {
  margin-left: 100px;
  max-width: 450px;
}
.aboutme-desc h4 {
  font-size: 35px;
  font-weight: 800;
}
.aboutme-desc ul {
  list-style: none;
  margin: 15px 0px;
}
.aboutme-desc li {
  margin-bottom: 8px;
  color: rgb(184, 184, 184);
}
.aboutme-desc li > strong {
  margin-right: 5px;
  color: var(--white);
}
.aboutme-desc li > a {
  color: rgb(184, 184, 184);
  text-decoration: none;
}
.aboutme-desc li > a:hover {
  color: var(--primary);
}

/* My Work Section */

.work-section-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.work-section {
  color: var(--white);
  background-color: var(--dark-primary);
  padding: 60px;
  text-align: center;
}
.work-section-box {
  background-color: #22282f;
  padding: 60px 30px;
  max-width: 300px;
  text-align: left;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 40px;
}
/* .work-section-box:hover {
  font-size: 20px;
  transition: 0.5s;
} */
.work-section-box p {
  margin: 10px 0px;
  color: gray;
}
.work-section-box a {
  text-decoration: none;
  color: var(--primary);
}

.work-section-box--desc {
  margin-top: 20px;
  margin-bottom: 10px;
}
.work-section-box--desc p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.work-section-icon {
  background-color: var(--primary);
  padding: 15px;
  border-radius: 18px;
}
.work-section-icon:hover {
  background-color: var(--primary-hover);
}

.work-section-box:hover {
  background-color: #11131a;
}
.work-section > h4 {
  font-size: 30px;
  font-weight: 700;
}
.work-section > h4 > span {
  color: var(--primary);
}

/* Contact Css */
.contact-section {
  background-color: #14171c;
  padding: 40px;
  color: var(--white);
  text-align: center;
}

.contact-section form > div > input,
textarea {
  padding: 5px 10px;
  outline: none;
  width: 350px;
  border: none;
  background-color: #c4c4c4;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  font-family: var(--nunito);
}

.contact-section h4 {
  font-size: 30px;
  margin: 0px 0px 40px 0px;
  font-weight: 700;
}
.contact-section h4 span {
  color: var(--primary);
}

footer {
  background-color: var(--dark-primary);
  color: white;
  padding: 20px 0px;
  text-align: center;
  font-size: 14px;
}

footer p a{
  text-decoration: none;
  color: var(--primary);
}

@media only screen and (max-width: 576px) {
  header{
    flex-direction: column;
  }
  header > *{
    margin-bottom: 10px;
  }

  /* Hero Section */
  section.hero{
    flex-direction: column;
    padding: 20px 40px;
  }
  .hero-image img {
    width: 300px;
    height: 305px;
    margin-left: 0px;
    display: none;
  }

  /* About Section */
  section.about-section{
    flex-direction: column;
  }
  .aboutme-desc{
    margin-left: 0;
    margin-top: 30px;
  }

  /* My Works */
  .work-section{
    padding: 30px 10px;
  }
  .work-section-item{
    flex-direction: column;
  }
  .work-section-box{
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }
  /* Contact Section */
  .contact-section form div input, textarea{
    width: 100%;
  }
}
